In [1]:
import numpy as np
import pandas as pd

In [2]:
ds = pd.read_csv('cleaned_data.csv')

In [3]:
# for i in ds.index:
#     print(ds.loc[i, "title"], "-", ds.loc[i, "tags"].count(","))

In [4]:
ds.head()

,Unnamed: 0,id,title,tags
0,0,19995,Avatar,"action,adventure,fantasy,science_fiction,cultu..."
1,1,285,Pirates of the Caribbean: At World's End,"adventure,fantasy,action,ocean,drug_abuse,exot..."
2,2,206647,Spectre,"action,adventure,crime,spy,based_on_novel,secr..."
3,3,49026,The Dark Knight Rises,"action,crime,drama,thriller,dc_comics,crime_fi..."
4,4,49529,John Carter,"action,adventure,science_fiction,based_on_nove..."

In [5]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [6]:
vector = cv.fit_transform(ds['tags']).toarray()

In [7]:
vector.shape

(4803, 5000)

In [8]:
from sklearn.metrics.pairwise import cosine_similarity

In [9]:
similarity = cosine_similarity(vector)

In [10]:
similarity

array([[1.        , 0.09451456, 0.03053524, ..., 0.03922323, 0.02067246,
        0.        ],
       [0.09451456, 1.        , 0.06253054, ..., 0.04016097, 0.02116669,
        0.        ],
       [0.03053524, 0.06253054, 1.        , ..., 0.01946247, 0.        ,
        0.        ],
       ...,
       [0.03922323, 0.04016097, 0.01946247, ..., 1.        , 0.07905694,
        0.07905694],
       [0.02067246, 0.02116669, 0.        , ..., 0.07905694, 1.        ,
        0.08333333],
       [0.        , 0.        , 0.        , ..., 0.07905694, 0.08333333,
        1.        ]])

In [11]:
similarity.shape

(4803, 4803)

In [20]:
def get_movie_index(name):
    movie_ds_index = -1
    for i in ds.index:
        if ds.loc[i, "title"].lower() == name.lower():
            movie_ds_index = i
            break
    return movie_ds_index

def get_movie_name(index):
    return ds.loc[index, "title"]

In [21]:
get_movie_name(100)

'The Curious Case of Benjamin Button'

In [17]:
def get_movie_recommendation(name):
    mindex = get_movie_index(name)
    if mindex == -1:    
        return []
    else:
        similarity_indexes = list(enumerate(similarity[mindex]))
        similarity_indexes = sorted(similarity_indexes, key=lambda x: x[1], reverse=True)
        r_movies = []
        for i in range(1, 6):
            r_movies.append(get_movie_name(similarity_indexes[i][0]))
    return r_movies

In [24]:
name = input("Enter movie you watched:")
movies = get_movie_recommendation(name)
if len(movies) == 0:
    print("Sorry no recommendation found")
else:
    print("Recommended Movies")
    count = 1
    for movie in movies:
        print(str(count) + ". " + movie)
        count += 1

Enter movie you watched:The Avengers
Recommended Movies
1. Avengers: Age of Ultron
2. Iron Man 3
3. Iron Man
4. Iron Man 2
5. Thor: The Dark World